<!-- app/routes/templates/auth/login.html -->
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<section class="register_page">

   <div class="register_container">

      <h3 class="register_title">Регистрация</h3>
      


      <div class="form_container">
      <form action="{{ url_for('auth.register') }}" method="post">

         <div class="input_reg">
            <label for="text" class="label-input">Ввести имя</label>
            <input id="text"  type="text" name="username"  class="input_data" placeholder="Имя" autocomplete="username">
         </div>  
      
         <div class="input_reg">
            <label for="email" class="label-input">Введите email</label>
            <input 
               id="email" 
               type="email" 
               name="email" 
               class="input_data" 
               placeholder="user@example.com" 
               autocomplete="email" 
               pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
               title="Email должен содержать доменное имя, например: user@example.com"
               required>           
         </div>

         <div class="input_reg">
            <label for="password" class="label-input">Введите пароль</label>
            <input id="password" type="password" name="password" class="input_data" placeholder="Придумайте пароль" autocomplete="new-password">
         </div>

         <div class="input_reg">
            <label for="confirm_password" class="label-input">Повторите пароль</label>
            <input id="confirm_password"  type="password" name="confirm_password" class="input_data" placeholder="Повторите пароль" autocomplete="new-password">
         </div>

         <div class="register_btn">
            <button type="submit" class="add_register">Создать</button>
         </div>

      </form>
      </div>
   </div>
   <script>
      document.addEventListener('DOMContentLoaded', () => {
         const flashContainer = document.querySelector('.flash-messages');
         const inputs = document.querySelectorAll('.input_data');

      // 1. Плавное исчезновение через 3 секунды после загрузки страницы
      if (flashContainer && flashContainer.children.length > 0) {
         setTimeout(() => {
            flashContainer.style.transition = 'opacity 0.5s ease';
            flashContainer.style.opacity = '0';
              // Удаляем из HTML после завершения анимации
            setTimeout(() => { flashContainer.innerHTML = ''; flashContainer.style.opacity = '1'; }, 500);
          }, 3000); // 3000 миллисекунд = 3 секунды
      }

      // 2. Ваша старая логика: мгновенное удаление при клике на любое поле ввода
      inputs.forEach(input => {
         input.addEventListener('focus', () => {
            if (flashContainer) {
                  flashContainer.innerHTML = '';
            }
         });
      });
});
</script>



</section>

{% endblock %}
