<!-- app/routes/templates/auth/login.html -->
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<section class="register_page">

   <div class="register_container">

      <h3 class="register_title">Регистрация</h3>
      
<!-----------------СООБЩЕНИЕ ОБ ОШИБКАХ---------------->
      <div class="flash-messages">
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         {% for category, message in messages %}
         <div class="alert_alert {{ category }}">
            {{ message }}
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}
      </div>

      <div class="form_container">
      <form action="{{ url_for('auth.register') }}" method="post">

         <div class="input_reg">
            <label for="text" class="label-input">Ввести имя</label>
            <input id="text"  type="text" name="username"  class="input_data" placeholder="Имя" autocomplete="username">
         </div>  
      
         <div class="input_reg">
            <label for="email" class="label-input">Введите email</label>
            <input 
               id="email" 
               type="email" 
               name="email" 
               class="input_data" 
               placeholder="user@example.com" 
               autocomplete="email" 
               pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
               title="Email должен содержать доменное имя, например: user@example.com"
               required>           
         </div>

         <div class="input_reg">
            <label for="password" class="label-input">Введите пароль</label>
            <input id="password" type="password" name="password" class="input_data" placeholder="Придумайте пароль" autocomplete="new-password">
         </div>

         <div class="input_reg">
            <label for="confirm_password" class="label-input">Повторите пароль</label>
            <input id="confirm_password"  type="password" name="confirm_password" class="input_data" placeholder="Повторите пароль" autocomplete="new_password">
         </div>

         <div class="register_btn">
            <button type="submit" class="add_register">Создать</button>
         </div>

      </form>
      </div>
   </div>

   <script>
      // Находим все поля ввода в форме
      const inputs = document.querySelectorAll('.input_data');
      // Находим контейнер с сообщениями об ошибках
      const flashContainer = document.querySelector('.flash-messages');

      // Вешаем обработчик события на каждое поле ввода
      inputs.forEach(input => {
      input.addEventListener('focus', () => {
            if (flashContainer) {
              // Полностью очищаем содержимое блока с ошибкой при клике на поле
               flashContainer.innerHTML = '';
            }
         });
      });
   </script>
</section>

{% endblock %}
